body{
    background-color: lightyellow;
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.back{
    position: relative;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    background-color: #FFD270;
    color: white;
    font-size: 20px;
    height: 70%;
    text-align: left;
    font-weight:bolder;
    color: rgb(165, 42, 148);
}
.back img{
    display: block;
    width: 100%;
    margin-top: 2em;
    bottom: 20%;
    height: 50%;
}
.button{
    display: block;
    margin: 0 auto;
    width: 9em;
    border-radius:40px;
    border: 0px;
    height: 2em;
    line-height: 2em;
    color: white;
    margin-top: 1em;
    font-size: 20px;
    background-image: radial-gradient(at left top,#f00,#ff0);
    background-image: -webkit-radial-gradient(at left top,#f00,#ff0);
    text-align: center;
}


.commit_info{
    display: none;
    position: absolute;
    width: 100%;
    background-color:lightyellow;
    height: 50%;
    bottom:0;
    border: 2px solid deepskyblue;
    font-weight: bolder;
}
input{
    border: 0;
    height: 2em;
    border-radius: 6px;
}
input:nth-child(2),input:nth-child(5){
    border: 1px gainsboro solid;
}
.commit1,.commit2{
    display:inline-block ;
    margin: 0 auto;
    width: 3em;
    border: 0px;
    height: 1.5em;
    line-height: 1.5em;
    color: white;
    margin-top: 2em;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
}

.commit1 {
    background-color: red;
}
.commit2{
    background-color: darkgray;
    color: black;
}
.ds{
    font-size: 20px;
}