body{
    background-color:lightyellow;
}
img{
  width: 100%;
  height: auto;
}
.get_now{
    width: 50%;
    margin-top:1.5em;
    margin-left: 50%;
    transform:translate(-50%)

}
footer{
    margin-top:2em ;
    color: black;
    text-align: center;
}
footer>a{
    font-style:normal;
    text-decoration: underline;
    -webkit-text-fill-color:transparent;
    background-image: url(../media/crying.png);
    -webkit-animation: cliptext 20s linear infinite;
    -webkit-background-clip: text;
}
@-webkit-keyframes cliptext{
    0%{background-position:20% top;}
    50%{background-position:80% top;}
    100%{background-position:20% top;}
}